HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://localhost:1337

APP_KEYS=replace-me-1,replace-me-2
API_TOKEN_SALT=replace-me
ADMIN_JWT_SECRET=replace-me
TRANSFER_TOKEN_SALT=replace-me
JWT_SECRET=replace-me

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=industrial_cms
DATABASE_SCHEMA=public
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=replace-me
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=true
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT_MS=60000

STRAPI_REST_PREFIX=/internal/cms
INTERNAL_CMS_FACTS_TOKEN=replace-me
